<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>BitTiming</title>
</head>
<body>
    <div id="container" class="container">
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                <span v-class=""></span>{{ updateInfo }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label><span class="glyphicon glyphicon-bitcoin"></span> 买</label>
                <table class="table table-hover">
                    <tr>
                        <th>价格</th>
                        <th>数量</th>
                    </tr>
                    <tr v-for="bid in bids">
                        <td>{{ bid[0] }}</td>
                        <td>{{ bid[1] }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <label><span class="glyphicon glyphicon-bitcoin"></span> 卖</label>
                <table class="table table-hover">
                    <tr>
                        <th>价格</th>
                        <th>数量</th>
                    </tr>
                    <tr v-for="ask in asks">
                        <td>{{ ask[0] }}</td>
                        <td>{{ ask[1] }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/vertx/3.5.0/vertx-eventbus.min.js"></script>
    <script>
        (function () {
            var app = new Vue({
                el: "#container",
                data: {
                    "eb": null,
                    "connected": false,
                    "bids": [],
                    "asks": [],
                    "updateTime": null,
                    "updateInfo": '正在等待数据'
                },
                methods: {

                },
                created: function() {
                    var _self = this;

                    setInterval(function() {
                        if (_self.connected) {
                            if (_self.updateTime) {
                                var sec = Math.round((new Date() - _self.updateTime) / 1000);

                                if (sec == 0) {
                                    _self.updateInfo = '刚刚更新';
                                } else {
                                    _self.updateInfo = sec + ' 秒前更新';
                                }
                            } else {
                                _self.updateInfo = '正在等待数据';
                            }
                        } else {
                            _self.updateInfo = '正在尝试连接';
                        }

                    },1000);

                    var options = {
                        "vertxbus_reconnect_attempts_max": "Infinity", // Max reconnect attempts
                        "vertxbus_reconnect_delay_min": 1000, // Initial delay (in ms) before first reconnect attempt
                        "vertxbus_reconnect_delay_max": 5000, // Max delay (in ms) between reconnect attempts
                        "vertxbus_reconnect_exponent": 2, // Exponential backoff factor
                        "vertxbus_randomization_factor": 0.5 // Randomization factor between 0 and 1
                    };

                    this.eb = new EventBus("/eb", options);

                    this.eb.enableReconnect(true);
                    this.eb.onreconnect = function () {
                        console.log("reconnected")
                    };

                    this.eb.onopen = function () {
                        _self.connected = true;
                        _self.eb.registerHandler('client.test', function(error, message) {
                            if (error) {
                                console.log(error);
                            } else {
                                console.log(message);
                                _self.bids = message.body.tick.bids;
                                _self.asks = message.body.tick.asks;
                                _self.updateTime = new Date();
                            }
                        });
                    };

                    this.eb.onclose = function () {
                        _self.connected = false;
                    };
                }
            });
        })();
    </script>
</body>
</html>