<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>BitTiming</title>
</head>
<body>
    <div id="container" class="container">
        <div class="row">
            <div class="col-md-6">
                <select v-model="subscription" v-on:change="subscribe" class="form-control">
                    <option v-for="topic in topics" v-bind:value="topic">{{ topic }}</option>
                </select>
            </div>
        </div>
        <div class="row"  v-if="data.length > 0">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>成交量</th>
                        <th>成交笔数</th>
                        <th>开盘价</th>
                        <th>收盘价</th>
                        <th>最低价</th>
                        <th>最高价</th>
                        <th>成交额</th>
                        <th>时间</th>
                    </tr>
                    <tr v-for="d in data">
                        <td>{{d.tick.amount}}</td>
                        <td>{{d.tick.count}}</td>
                        <td>{{d.tick.open}}</td>
                        <td>{{d.tick.close}}</td>
                        <td>{{d.tick.low}}</td>
                        <td>{{d.tick.high}}</td>
                        <td>{{d.tick.vol}}</td>
                        <td>{{d.ts | time}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/vertx/3.5.0/vertx-eventbus.min.js"></script>
    <script>
        (function () {

            function dateFormat(fmt,date) { //author: meizz
                var o = {
                    "M+" : date.getMonth()+1,                 //月份
                    "d+" : date.getDate(),                    //日
                    "h+" : date.getHours(),                   //小时
                    "m+" : date.getMinutes(),                 //分
                    "s+" : date.getSeconds(),                 //秒
                    "q+" : Math.floor((date.getMonth()+3)/3), //季度
                    "S"  : date.getMilliseconds()             //毫秒
                };
                if(/(y+)/.test(fmt))
                    fmt=fmt.replace(RegExp.$1, (date.getFullYear()+"").substr(4 - RegExp.$1.length));
                for(var k in o)
                    if(new RegExp("("+ k +")").test(fmt))
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                return fmt;
            }

            const DATA_COUNT = 10;
            Vue.filter("time", function (value) {
                return dateFormat("yyyy-MM-dd hh:mm:ss", new Date(value));
            });
            var app = new Vue({
                el: "#container",
                data: {
                    "eb": null,
                    "connected": false,
                    "topics": [],
                    "subscription": '',
                    "lastSubscription": '',
                    "data": []
                },
                methods: {
                    subscribe: function () {
                        if (this.connected) {
                            if (this.lastSubscription.length > 0) {
                                this.eb.unregisterHandler(this.lastSubscription, this.messageHandler);
                                this.data = [];
                            }

                            this.eb.registerHandler(this.subscription, this.messageHandler);
                            this.lastSubscription = this.subscription;
                        }
                    },

                    messageHandler: function (error, message) {
                        if (error) {
                            console.log(error);
                        } else {
                            console.log(message);
                            if (this.data.length >= DATA_COUNT) {
                                this.data.pop()
                            }

                            this.data.unshift(message.body);
                        }
                    }
                },
                created: function() {
                    var _self = this;

                    var options = {
                        "vertxbus_reconnect_attempts_max": "Infinity", // Max reconnect attempts
                        "vertxbus_reconnect_delay_min": 1000, // Initial delay (in ms) before first reconnect attempt
                        "vertxbus_reconnect_delay_max": 5000, // Max delay (in ms) between reconnect attempts
                        "vertxbus_reconnect_exponent": 2, // Exponential backoff factor
                        "vertxbus_randomization_factor": 0.5 // Randomization factor between 0 and 1
                    };

                    this.eb = new EventBus("/eb", options);

                    this.eb.enableReconnect(true);
                    this.eb.onreconnect = function () {
                        console.log("reconnected")
                    };

                    this.eb.onopen = function () {
                        _self.connected = true;

                        $.ajax({
                            "url": "/topics",
                            "dataType": "json",
                            "success": function (data) {
                                console.log(data);
                                _self.topics = data;
                            }
                        });
                    };

                    this.eb.onclose = function () {
                        _self.connected = false;
                    };
                }
            });
        })();
    </script>
</body>
</html>